<main class="main">
  <div class="content">
    <div class="left-side">
      <img src="assets/logoSOTG.png" alt="Logo" class="logo">
      <h1>Hola, {{ title }}</h1>
      <p>Soy Carolina Boerr</p>
      <p>Quiero aprender Angular para usarlo en proyectos laborales.</p>
      <div style="display: flex; align-items: center; gap: 10px;">

        <label for="txtColor">Ingresá el texto que quieras:</label>
        <input id="txtColor" type="text" [(ngModel)]="varColor">
        <!-- <input type="text" [(ngModel)]="varColor" label="Ingresá el texto que quieras"> -->
        <img src="assets/flechaDerecha.png" alt="flechaDerecha" class="flecha">
        <p>{{ varColor }}</p>
      </div>
    </div>

  </div>
   
</main>



<router-outlet />
